/* *{
    background-color: #F28DB2;
} */

/* .navbar{
    display: inline-flex;
    align-items: center;
    padding: var(--navbar-padding, 0.5rem);
   
    width: 100%;
}
.navbar-start{
    width: auto
}
.navbar-center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} */