

.pro-Detail-container{
    border: 2px solid gray;
}

.img-magnify{
    width: 500px;
    height: 800px;
    border: 1px solid lightseagreen;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    
}

.order-container{
    border: 2px solid rebeccapurple;
    padding: 5px;
    /* margin: 5px; */
    width: 300px;
    height: 500px;
    
}